<div class="row">
  <div class="small-offset-4 columns">

    <table>
      <tbody>
        <tr>
          <th class="right">Name:</th>
          <td><%= @member.name %></td>
        </tr>

        <tr>
          <th class="right">Email:</th>
          <td><%= @member.email %></td>
        </tr>

        <tr>
          <th class="right">Phone:</th>
          <td><%= @member.phone %></td>
        </tr>

        <tr>
          <th class="right">Major:</th>
          <td><%= @member.major %></td>
        </tr>

        <tr>
          <th class="right">Fees paid:</th>
          <td><%= @member.fees_paid %></td>
        </tr>

        <tr>
          <th class="right">Campus resident:</th>
          <td><%= @member.campus_resident %></td>
        </tr>

        <tr>
          <th class="right">Volunteer:</th>
          <td><%= @member.volunteer %></td>
        </tr>

        <tr>
          <th class="right">Referrer:</th>
          <td><%= @member.referrer %></td>
        </tr>

        <tr>
          <th class="right">Recruiter:</th>
          <td><%= show_name(@member.recruiter) %></td>
        </tr>

        <tr>
          <th class="right">Interests:</th>
          <td><%= @member.interests %></td>
        </tr>

        <tr>
          <th class="right">Position:</th>
          <td><%= show_position(@member.position) %></td>
        </tr>
      </tbody>
    </table>

    <%= link_to 'Edit', edit_member_path(@member), class: 'button radius' %>
    <%= link_to 'Back', members_path, class: 'button radius secondary' %>

  </div>
</div>
